<%- include('../../partials/header') %>
    <%//console.log("*****************************************************************");%>
        <%//console.log(title, camp, req.user);%>

            <div class="">
                <div class="">
                    <div class="card">
                        <img class="" src="<%= camp.campDbImage %>" />
                        <div class="info">
                            <div class="caption">
                                <h4 class="left">
                                    <%= camp.campDbName %>
                                </h4>
                                <h4 class="right">$
                                    <%= camp.campDbPrice %>
                                        /nt</h4>
                            </div>
                            <p>
                                <%= camp.campDbDescription %>
                            </p>
                            <p>
                                <%= camp.campDbLocation %>
                            </p>
                            <h4 class="right">Submitted by
                                <%= camp.users.name %>
                            </h4>
                            <%console.log('camp', camp)%>
                                <% if (camp.users._id.equals(user && user._id)) { %>
                                    <!-- <%//if (!!user && user._id == camp.users._id) {%> -->
                                    <!--Why doesn't this work vs. the camp.users._id.equals... code above?-->
                                    <form action="/camps/<%= camp._id %>/edit" method="GET">
                                        <button type="submit" class="btn orange white-text">Edit</button>
                                    </form>
                                    <form action="/camps/<%= camp._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn red white-text">Delete</button>
                                    </form>
                                    <%} else {%>
                                        <%}%>
                        </div>



                        <%- include('../../partials/footer') %>